.Combatant {
    user-select: none;
    position: absolute;
    width: 32px;
    height: 32px;
}

/*-------------- BasePlate --------------*/
.Combatant #basePlate{
    position: absolute;
    z-index: 2;
    width: 46px;
    height: 12px;
    top: 2px;
    left: 10px;
    image-rendering: pixelated;
}

/*-------------- player --------------*/
.Combatant[data-team="player"] {
    left: 2em;
    top: 4em;
}


/*-------------- Enemy --------------*/
.Combatant[data-team="enemy"] {
    right: 10em;
    top:  25em;
}


.Battle .Combatant {
    transform: scale(4);
}

.Battle .Combatant[data-active="false"] {
   opacity: 0;
}

.Battle .Combatant[data-active="true"] {
    opacity: 1;
}

.Combatant_character {
    display: block;
    position: absolute;

    left: -11px;
    bottom: -7px;
}

.Combatant_character_crop {
    position: absolute;
    bottom: 1px;
    left: 3px;

    width: 22px;
    height: 12px;
    overflow: hidden;
}

.Battle .Combatant_character_crop {
    display: none;
}

.Combatant_name {
    position: absolute;
    left: 22px;
    top: 2px;
    white-space: nowrap;
    color: #000000;
    font-size: 3px;
    padding-left: 2px;
    padding-right: 2px;
    margin: 0;
    max-width: 33px;
    width: 33px;
    z-index: 3;
}

.Combatant_life {
    position: absolute;
    font-size: 12px;

    right: -6px;
    top: 8px;
    width: 28px;
    height: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    background: #444444;
    border: 1px solid #000000;
    margin: 0;
    z-index: 1;

}


.Combatant_life-container {
    position: absolute;
    left: 24px;
    top: 5px;
    width: 30px;
    height: 7px;
    z-index: 3;
}

.Combatant_life_number {
    position: absolute;
    font-size: 3px;
    z-index: 7;
    left: 11px;
    top: 2.5em;
    z-index: 3;

}

.Combatant_life-container > rect {
    transition: width 0.2s;
    z-index: 1;
}

.Combatant_level {
    position: absolute;
    font-size: 12px;

    right: -6px;
    top: 13px;
    width: 28px;
    height: 3px;

    display: flex;
    align-items: center;
    justify-content: center;
    background: #F8C594;
    border: 1px solid #A48465;
    margin: 0;
    z-index: 1;

}

.Combatant_xp-container {
    position: absolute;
    left: 24px;
    top: 11.5px;
    width: 30px;
    height: 2px;
    z-index: 3;

}

.Combatant_level_number {
    position: absolute;
    font-size: 2.5px;

    right: 12px;
    top: 9px;

    margin: 0;
    color: #000000;
    z-index: 3;
}

.Combatant_level-container {
    position: absolute;
    top: 1px;
    left: 36px;
    width: 10px;
    height: 15px;
    z-index: 0;
}

.Snoo {
    position: absolute;
}

.Snoo[data-team="player"] {
    bottom: 11em;
    left: 8em;

    width: 128px;
    height: auto;
}

.Snoo[data-team="enemy"] {
    right: 5em;
    bottom: 12em;

    width: 128px;
    height: auto;
    transform: rotateY(180deg);

}

.Snoo[data-active="false"] {
    opacity: 0;
 }
 
.Snoo[data-active="true"] {
     opacity: 1;
 }
