.developerStats {
    user-select: none;
    position: absolute;
    top: 16em;
    left: 25em;
}

.developerStats .background {
    position: absolute;
    top: 1px;
    left: 1px;

    width: 100px;
    height: 100px;
}

.developerStats .background > rect {
    fill: rgba(65, 65, 69, 0.53);
}

.developerStats .Items {
    position: relative;
    top: 0;
    left: 5px;
}

.developerStats .Items p{
    color: yellow;
    margin-bottom: -11px;
    font-size: 8px;
}

.developerStats .Items #playerPos{
    position: absolute;
    top: 16em;
    left: 0em;

    width: 95px;
    height: 12px;

    color: rgb(0, 0, 0);
    background-color: cadetblue;
    font-size: 6px;
    padding-left: 1px;
    padding-top: 2px;
}