.Hud {
    user-select: none;
    position: absolute;
    left: 11em;
    top: 9em;

    transform: scale(1.5);
    image-rendering: pixelated;
}

.Hud .Combatant {
    transform: scale(1.5);
    position: relative;
}

.Hud .Combatant_type {
    user-select: none;
    display: none;
}

.Fps-container {
    position: absolute;
    left: 277px;
    top: -2px;

    font-size: 5px;
    color: gold;
}

.Hud .MoneyAmount {
    user-select: none;
    transform: scale(1.5);
    position: absolute;
    top: 4px;
    left: 17px;
}

.Hud .MoneyAmount p{
    transform: scale(1.5);
    position: absolute;
    font-size: 3px;
    color: white;
    top: -10.5px;
    left: 109px;
    z-index: 1;
}


.Hud .moneyElement-container {
    position: absolute;
    top: -11px;
    left: 95px;
    width: 35px;
    height: 10px;
    z-index: 0;
}


.Hud .moneyElement-container > rect {
    position: absolute;
    background: black;
}