.KeyBoardMenu {
    border: 1px solid var(--border-color);
    background: var(--menu-background);
    position: absolute;
}

.KeyBoardMenu button {
    caret-color: transparent;
    display: flex;
    align-items: center;
    width: 100%;
    text-align: left;
    /* -webkit-appearance: none; */
    border: 0;
    background: none;
    height: 15px;
    cursor: pointer;
    font-family: inherit;
    padding: 3px;
    font-size: 10px;
}

.KeyBoardMenu button:focus {
    background: var(--menu-selected-background);
    outline: 0;
}

.KeyBoardMenu .option {
    position: relative;
}

.KeyBoardMenu .option .right{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

    font-size: 10px;
    display: flex;
    align-items: center;
    padding-right: 3px;
}

.DescriptionBox {
    position: absolute;
    bottom: 33px;
    left: 57px;
    right: 0;

    color: var(--menu-font-color);
    border-top: 1px soild var(--border-color);
    background: var(--menu-background);
    padding: 2px;
}

.DescriptionBox p {
    caret-color: transparent;
    font-size: 8px;
    margin: 0;
    padding-left: 75px;
}

.Battle .KeyBoardMenu {
    right: 228px;
    bottom: 34px;
    width: 60px;
}