.TitleScreen {
    user-select: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    background: #000;
}

.Title_p {
    position: absolute;
    left: 132px;
    color: #fff;
}

.TitleScreen_Logo {
    position: absolute;
    top: 50px;
    left: 160px;

    display: block;
    margin: 0;
    width: 32px;
    image-rendering: pixelated;

    color: white;
}

.TitleScreen .KeyBoardMenu {
    position: relative;
    top: 100px;
    margin: 0 auto;
    width: 100px;
    border: 0;
    background: transparent;
}

.TitleScreen button {
    color: black;
    background-color: var(--menu-background);
    justify-content: center;
    padding: 0;
}

.TitleScreen .KeyBoardMenu button:focus {
    color: black;
    background-color: var(--menu-selected-background);
}


.TitleScreen .DescriptionBox {
    position: absolute;
    top: 125px;
    right: 130px;

    background: transparent;
    color: #fff;
    border: 0;
    text-align: center;
}